@use 'element-plus/theme-chalk/src/mixins/function.scss' as *;
@import url(./Londrina-Sketch.css);
@import url(./Ma-Shan-Zheng.css);
@import url(./Pacifico.css);

/* 滚动条样式 */
::-webkit-scrollbar-track-piece {
  border-radius: 6px;
  background: #0000001a;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #c1c1c1;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

* {
  outline: none;
}

:root {
  scrollbar-width: thin;
  --header-height: 56px;
}

html,
body {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: auto;
}

h1[head-id],
h2[head-id],
h3[head-id],
h4[head-id],
h5[head-id],
h6[head-id],
[anchor-node] {
  scroll-margin-top: calc(var(--header-height) + 16px);
}

.hover-shadow-primary:hover {
  box-shadow: 0 0 35px var(--el-color-primary);
}
.iconfont {
  font-size: inherit;
}
.el-menu.el-menu--popup {
  min-width: 160px;
}
.lx-admin-menus.el-menu--horizontal {
  --el-menu-horizontal-height: 32px;
  --el-menu-item-height: 32px;
  border: none !important;
  & > .el-menu-item {
    border-radius: 6px;
    border: none;
    &:not(.is-disabled):focus {
      color: inherit;
    }
    .iconfont {
      transform: translateY(1px);
    }
    &.is-active {
      border: none;
    }
    &:focus {
      background: none !important;
      color: inherit;
    }
  }
  & > .el-sub-menu {
    .el-sub-menu__title {
      border: none;
    }
    &.is-active {
      .el-sub-menu__title {
        border: none;
      }
    }
  }
}

.el-table {
  .el-popper {
    max-width: 640px;
  }
}

.lx-toolbox {
  .el-input-number {
    width: 100%;
    .el-input {
      .el-input__wrapper {
        padding-left: 10px;
        .el-input__inner {
          text-align: left;
        }
      }
    }

    &:not(.is-controls-right) {
      .el-input {
        .el-input__wrapper {
          padding-right: 10px;
        }
      }
    }
  }
}

/* 主题切换过渡 */
::view-transition-old(root),
::view-transition-new(root),
::view-transition-old(body),
::view-transition-new(body) {
  animation: none;
  mix-blend-mode: normal;
}

html.disabled-transition,
html.disabled-transition :not(.view-transition-trigger) * {
  transition: none !important;
}

// .slide-bottom-enter-active,
// .slide-bottom-leave-active {
//   transition: (opacity 0.2s ease-out, transform 0.25s ease-out);
// }

// .slide-bottom-enter-from {
//   opacity: 0;
//   transform: translateY(-10%);
// }

// .slide-bottom-leave-to {
//   opacity: 0;
//   transform: translateY(10%);
// }

.font-londrina-sketch {
  font-family: 'Londrina Sketch';
}

.font-ma-shan-zheng {
  font-family: 'Ma Shan Zheng';
}

.font-pacifico {
  font-family: 'Pacifico';
}
